body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:65px;
  width:740px;
  height:690px;
  color:#666666;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:193px;
  width:589px;
  height:309px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:309px;
}
#u3 {
  position:absolute;
  left:2px;
  top:146px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:748px;
  top:120px;
  width:79px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:545px;
  top:119px;
  width:193px;
  height:10px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:456px;
  top:119px;
  width:79px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:70px;
  width:200px;
  height:680px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:680px;
}
#u11 {
  position:absolute;
  left:2px;
  top:332px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:70px;
  width:200px;
  height:43px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:78px;
  width:137px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:40px;
  top:113px;
  width:200px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:285px;
  width:200px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:156px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:199px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:242px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:188px;
  top:173px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:188px;
  top:214px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:188px;
  top:259px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:419px;
  top:103px;
  width:153px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:586px;
  top:103px;
  width:153px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:293px;
  top:69px;
  width:420px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:416px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:496px;
  top:690px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:690px;
  top:690px;
  width:80px;
  height:30px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:519px;
  top:110px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:726px;
  top:110px;
  width:30px;
  height:30px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:330px;
  top:180px;
  width:22px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:330px;
  top:553px;
  width:319px;
  height:17px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:519px;
  top:150px;
  width:30px;
  height:16px;
  font-size:14px;
  color:#00CC00;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:726px;
  top:150px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1279px;
  top:182px;
  width:470px;
  height:158px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:168px;
}
#u55 {
  position:absolute;
  left:2px;
  top:71px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1280px;
  top:182px;
  width:470px;
  height:38px;
  color:#FFFFFF;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:38px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:466px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1380px;
  top:258px;
  width:168px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1660px;
  top:298px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:3px;
  width:1220px;
  height:67px;
  font-size:14px;
  color:#3399CC;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:67px;
}
#u63 {
  position:absolute;
  left:2px;
  top:26px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:17px;
  top:18px;
  width:94px;
  height:37px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:970px;
  top:4px;
  width:86px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1160px;
  top:3px;
  width:90px;
  height:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1080px;
  top:4px;
  width:52px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:468px;
  top:777px;
  width:412px;
  height:43px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:43px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
